{:highlights [{:id #uuid "61446ae3-7145-4884-9fcd-af9e1bf825dc", :page 3, :position {:bounding {:x1 40, :y1 117, :x2 332, :y2 448, :width 689, :height 516.75}, :rects (), :page 3}, :content {:text "[:span]", :image 1631873762446}, :properties {:color "yellow"}}]}