{:highlights [{:id #uuid "6145483c-b360-4e7a-88c6-c40158a2179d", :page 2, :position {:bounding {:x1 22, :y1 83, :x2 574, :y2 374, :width 570, :height 427.5}, :rects (), :page 2}, :content {:text "[:span]", :image 1631930427109}, :properties {:color "yellow"}}]}