{:highlights [{:id #uuid "6144d4d1-ade9-4a75-9ab4-b61c4513e140", :page 13, :position {:bounding {:x1 107, :y1 41, :x2 461, :y2 384, :width 570, :height 427.5}, :rects (), :page 13}, :content {:text "[:span]", :image 1631900880999}, :properties {:color "yellow"}}]}