{:highlights [{:id #uuid "61527e24-84a4-431b-9943-5d8ecb0ceb96", :page 6, :position {:bounding {:x1 10, :y1 391, :x2 265, :y2 588, :width 792, :height 594}, :rects (), :page 6}, :content {:text "[:span]", :image 1632796195103}, :properties {:color "yellow"}} {:id #uuid "61527e2a-1271-4fc2-80ad-2aad69638b8e", :page 6, :position {:bounding {:x1 273, :y1 391, :x2 519, :y2 588, :width 792, :height 594}, :rects (), :page 6}, :content {:text "[:span]", :image 1632796201155}, :properties {:color "yellow"}} {:id #uuid "61527e30-ca34-4b20-88db-4429a0629737", :page 6, :position {:bounding {:x1 527, :y1 398, :x2 789, :y2 592, :width 792, :height 594}, :rects (), :page 6}, :content {:text "[:span]", :image 1632796207425}, :properties {:color "yellow"}}]}